{% extends 'admin_base.html' %}
{% block page_wrapper_block %}
{% load bootstrap3 %}

<div class="row">
        <div class="col-lg-12">
             <h2 class="page-header">Batch and Divisions</h2>
        </div>
                <!-- /.col-lg-12 -->
</div>
<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
     <li role="presentation" class="active"><a href="#batch-add" aria-controls="batch-add" role="tab" data-toggle="tab">Add Batch</a></li>
      <li role="presentation"  ><a href="#batch-del" aria-controls="del" role="tab" data-toggle="tab">Edit/Delete Batch </a></li>
      <li role="presentation"  ><a href="#batch-div-add" aria-controls="batch-div-add" role="tab" data-toggle="tab">Add Division </a></li>
       <li role="presentation"  ><a href="#batch-div-del" aria-controls="batch-div-del" role="tab" data-toggle="tab">Edit/Delete Division </a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="batch-add">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Add a batch record</h3></div>
                <div class="panel-body">
                    <form action="./" method="post" class="form">
                        {% csrf_token %}
                        {% bootstrap_form batch_form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                {% bootstrap_icon "floppy-save" %} Submit
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>    
        </div>
        <div role="tabpanel" class="tab-pane" id="batch-del"s>
             <div class="panel panel-primary">
                 <div class="panel-heading"><h3 class="panel-title">Edit/Delete a batch record</h3></div>
                 <div class="panel-body">
                    <table  id='batch-table' class="display" cellspacing="1" width="98%">
                        <thead><tr><td>ID</td><td>Name</td><td>Start Date</td><td>End Date</td><td>Status</td><td>Delete</td></tr></thead>
                        <tbody>
                        
                        </tbody>
                    </table>
                </div>
                  
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="batch-div-add">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Add a division record</h3></div>
                <div class="panel-body">
                    <form action="./" method="post" class="form">
                        {% csrf_token %}
                        {% bootstrap_form div_form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                {% bootstrap_icon "floppy-save" %} Submit
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>    
        </div>
            <div role="tabpanel" class="tab-pane" id="batch-div-del"s>
             <div class="panel panel-primary">
                 <div class="panel-heading"><h3 class="panel-title">Edit/Delete a division record</h3></div>
                 <div class="panel-body">
                    <table  id='div-table' class="display" cellspacing="1" width="98%">
                        <thead><tr><td>ID</td><td>Name</td><td>Batch</td><td>Delete</td></tr></thead>
                        <tbody>
                        
                        </tbody>
                    </table>
                </div>
                  
            </div>
        </div>
    </div>
</div>
<script>

$(document).ready(function() {
                            
     var batch_table=$('#batch-table').DataTable({
    "columnDefs": [ {
                        "targets": -1,
                        "data": null,
                        "defaultContent": "<button class='button-danger'>Delete</button>"
                    } ]
    });
    
    function pickup_batch_records()
    {
                console.log('pickup');
                batch_table.ajax.url('/admin/batch/editajax/');
                batch_table.ajax.reload();
                
                
    }
    pickup_batch_records();
    
    $('#batch-table').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            batch_table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    } );
    $('#batch-table tbody').on( 'dblclick', 'tr', function (){
        
       var data = batch_table.row( this ).data() 
       BootstrapDialog.show({ title: "Edit a batch data",
            message: function(dialog) {
                var $message = $('<div></div>');
                var pageToLoad = dialog.getData('pageToLoad');
                $message.load(pageToLoad);
        
                return $message;
            },
            data: {
                'pageToLoad': '/admin/batch/edit/'+data[0]
            },
            buttons: [
                {
                label: 'Close',
                action: function(dialogItself){
                    pickup_batch_records();
                    batch_table.draw();
                    dialogItself.close();
                }
            }]
       });
    });
    $('#batch-table tbody').on( 'click', 'button', function () {
                var data = batch_table.row( $(this).parents('tr') ).data();
                var row=batch_table.row( $(this).parents('tr') );
               
                $.ajaxSetup({
                                    headers: { "X-CSRFToken": $.cookie("csrftoken")}
                            });
                $.post('/admin/batch/editajax/', {bid:data[0]}) 
                        .done(function(data){
                            if(data.search('Unable')==-1) //No need to delete row from table
                                row.remove().draw( false );
                            alert(data);
                            
                         })
                        .fail( function(xhr, textStatus, errorThrown) {
                            alert("Unable to process");
                        });
                
    } );
    
    
    var div_table=$('#div-table').DataTable({
    "columnDefs": [ {
                        "targets": -1,
                        "data": null,
                        "defaultContent": "<button class='button-danger'>Delete</button>"
                    } ]
    });
    
    function pickup_div_records()
    {
                console.log('pickup');
                div_table.ajax.url('/admin/div/editajax/');
                div_table.ajax.reload();
                
                
    }
    pickup_div_records();
    
    $('#div-table').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            div_table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    } );
    $('#div-table tbody').on( 'dblclick', 'tr', function (){
        
       var data = div_table.row( this ).data() 
       BootstrapDialog.show({ title: "Edit a division data",
            message: function(dialog) {
                var $message = $('<div></div>');
                var pageToLoad = dialog.getData('pageToLoad');
                $message.load(pageToLoad);
        
                return $message;
            },
            data: {
                'pageToLoad': '/admin/div/edit/'+data[0]
            },
            buttons: [
                {
                label: 'Close',
                action: function(dialogItself){
                    pickup_div_records();
                    div_table.draw();
                    dialogItself.close();
                }
            }]
       });
    });
    $('#div-table tbody').on( 'click', 'button', function () {
                var data = div_table.row( $(this).parents('tr') ).data();
                var row=div_table.row( $(this).parents('tr') );
               
                $.ajaxSetup({
                                    headers: { "X-CSRFToken": $.cookie("csrftoken")}
                            });
                $.post('/admin/div/editajax/', {did:data[0]}) 
                        .done(function(data){
                            if(data.search('Unable')==-1) //No need to delete row from table
                                row.remove().draw( false );
                            alert(data);
                            
                         })
                        .fail( function(xhr, textStatus, errorThrown) {
                            alert("Unable to process");
                        });
                
    } );
    
    
    
 
});


 </script>
{% endblock %}
