{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Email Client Touch UI demo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">


    <script src="{% static "js/platform.js"%}"></script>
    <script src="{% static "js/lib/dhtmlx.js"%}"></script>
    <script src="{% static "js/lib/dhtmlxscheduler.js"%}"></script>
    <script src="{% static "js/lib/sources/ext/dhtmlxscheduler_agenda_view.js"%}"></script>

    <link href="{% static "css/dhtmlxscheduler.css"%}" rel="stylesheet">    
    <link href="{% static "css/dhtmlx.css"%}" rel="stylesheet">
    <link href="{% static "css/platform.css"%}" rel="stylesheet">
    
	
</head>
<body onload="initApp('{%static 'icons/'%}','4');">

                    



</body>
</html>

<script>


</script>
</html>
